@tailwind base;
@tailwind components;
@tailwind utilities;




/* FLATPICKR FIX */

.flatpickr-calendar {
    background: #1f2937 !important;
    border: 1px solid #374151 !important;
    color: white !important;
    box-shadow: 0 10px 25px rgba(0,0,0,.4) !important;
    border-radius: 12px !important;
    overflow: hidden !important;
    z-index: 99999 !important;
}

.flatpickr-months,
.flatpickr-weekdays {
    background: #111827 !important;
}

.flatpickr-weekday {
    color: #9ca3af !important;
}

.flatpickr-day {
    color: white !important;
}

.flatpickr-day:hover {
    background: #2563eb !important;
    border-color: #2563eb !important;
}

.flatpickr-day.selected {
    background: #2563eb !important;
    border-color: #2563eb !important;
}

.flatpickr-current-month input.cur-year {
    color: white !important;
}

.flatpickr-monthDropdown-months {
    color: white !important;
    background: #111827 !important;
}

.numInputWrapper span {
    color: white !important;
}

/* FIX FLECHAS FLATPICKR */

.flatpickr-prev-month svg,
.flatpickr-next-month svg {
    width: 12px !important;
    height: 14px !important;
    stroke-width: 2px !important;
}

.flatpickr-prev-month,
.flatpickr-next-month {
    padding: 8px !important;
}

.flatpickr-prev-month:hover svg,
.flatpickr-next-month:hover svg {
    fill: #3b82f6 !important;
}